body{
margin:0;
font-family:'Cairo',sans-serif;
background:#08101f;
color:white;
display:flex;
}

.sidebar{
width:260px;
height:100vh;
background:#11192f;
padding:20px;
position:fixed;
}

.sidebar h2{
font-size:34px;
margin-bottom:30px;
}

.sidebar button{
width:100%;
padding:15px;
margin-bottom:15px;
border:none;
border-radius:14px;
background:#6c4cff;
color:white;
font-size:16px;
cursor:pointer;
transition:.3s;
}

.sidebar button:hover{
transform:translateY(-3px);
}

.content{
margin-right:260px;
width:100%;
padding:40px;
}

.page{
display:none;
}

.active{
display:block;
}

.card{
background:#11192f;
padding:35px;
border-radius:24px;
max-width:700px;
}

.card h1{
font-size:50px;
margin-bottom:10px;
}

.card p{
color:#bfc6e2;
}

input[type=file]{
margin-top:25px;
margin-bottom:20px;
width:100%;
padding:14px;
background:#0c1324;
border:none;
border-radius:14px;
color:white;
}

.card button{
padding:16px;
width:100%;
border:none;
border-radius:14px;
background:linear-gradient(135deg,#6c4cff,#00d9ff);
color:white;
font-size:18px;
cursor:pointer;
}

#loading{
margin-top:20px;
}

#result{
margin-top:20px;
word-break:break-all;
}

#result a{
color:#6fe9ff;
}

.mod{
background:#11192f;
padding:20px;
border-radius:20px;
margin-bottom:20px;
}

.mod img{
width:100%;
max-width:350px;
border-radius:16px;
margin-bottom:15px;
}

.mod a{
display:inline-block;
margin-top:10px;
padding:12px 18px;
background:#6c4cff;
border-radius:12px;
color:white;
text-decoration:none;
}

@media(max-width:900px){

body{
flex-direction:column;
}

.sidebar{
position:relative;
width:100%;
height:auto;
}

.content{
margin-right:0;
}

}
